alabaster==0.7.12
amqp==5.1.1
asgiref==3.5.0
astroid==2.11.5
attrs==21.4.0
Babel==2.10.1
billiard==3.6.4.0
celery==5.2.6
certifi==2021.10.8
cffi==1.15.0
cfgv==3.3.1
charset-normalizer==2.0.12
click==8.1.3
click-didyoumean==0.3.0
click-plugins==1.1.1
click-repl==0.2.0
colorama==0.4.4
coreapi==2.3.3
coreschema==0.0.4
coverage==6.4
cryptography==37.0.2
defusedxml==0.7.1
dill==0.3.5.1
distlib==0.3.4
dj-database-url==0.5.0
Django==4.0.4
django-address==0.2.8
django-database-view==0.3.0
django-filter==21.1
django-phonenumber-field==6.1.0
django-templated-mail==1.1.1
djangorestframework==3.13.1
djangorestframework-simplejwt==4.8.0
djoser==2.1.0
docutils==0.17.1
drf-yasg==1.20.0
factory-boy==3.2.1
Faker==13.12.0
filelock==3.7.0
flake8==4.0.1
flake8-bugbear==22.4.25
flake8-builtins==1.5.2
flake8-commas==2.1.0
flake8-docstrings==1.6.0
flake8-length==0.3.0
flake8-mock==0.3
flake8-polyfill==1.0.2
flake8-pytest==1.3
flake8-quotes==3.3.1
flake8-variables-names==0.0.5
gunicorn==20.1.0
identify==2.5.1
idna==3.3
imagesize==1.3.0
import-order==0.0.11
importlib-metadata==4.11.3
inflection==0.5.1
isort==5.10.1
itypes==1.2.0
Jinja2==3.1.2
kombu==5.2.4
lazy-object-proxy==1.7.1
MarkupSafe==2.1.1
mccabe==0.7.0
nodeenv==1.6.0
oauthlib==3.2.0
packaging==21.3
pep8-naming==0.12.1
phonenumbers==8.12.48
Pillow==9.1.0
platformdirs==2.5.2
pre-commit==2.19.0
prompt-toolkit==3.0.29
psycopg2==2.9.3
pycodestyle==2.8.0
pycparser==2.21
pydocstyle==6.1.1
pyflakes==2.4.0
Pygments==2.12.0
PyJWT==2.3.0
pyparsing==3.0.8
python-dateutil==2.8.2
python-decouple==3.6
python3-openid==3.2.0
pytz==2022.1
PyYAML==6.0
requests==2.27.1
requests-oauthlib==1.3.1
ruamel.yaml==0.17.21
ruamel.yaml.clib==0.2.6
six==1.16.0
snowballstemmer==2.2.0
social-auth-app-django==4.0.0
social-auth-core==4.2.0
Sphinx==4.5.0
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
sqlparse==0.4.2
toml==0.10.2
tomli==2.0.1
tzdata==2022.1
uritemplate==4.1.1
urllib3==1.26.9
vine==5.0.0
virtualenv==20.14.1
wcwidth==0.2.5
whitenoise==6.0.0
wrapt==1.14.1
zipp==3.8.0
