{% load i18n %}

{% block subject %}
{% blocktrans %}{{inviter}} is inviting you to apply for {{position}}.{% endblocktrans %}
{% endblock subject %}

{% block html_body %}
{% blocktrans %}
<p>You're receiving this email because you have been invited to apply for the following position:</p>
<br>
<p>Position: {{position}}</p>
<p>Business: {{position.business}}</p>
<p>Start time: {{position.start_time}}</p>
<p>End time: {{position.end_time}}</p>
<br>
<a href="{{ protocol }}://{{ domain }}{{ approve_link }}">
    <button type="button" style="color: green;">CONFIRM OFFER</button>
</a>
<br>

{% endblocktrans %}
{% endblock html_body %}