{% block subject %}
You have been invited to apply for {{invite.position}}.
{% endblock subject %}

{% block html_body %}
<p>You're receiving this email because you have been invited to apply for the following position:</p>
<br>
<p>Position: {{invite.position}}</p>
<p>Business: {{invite.position.business}}</p>
<p>Start time: {{invite.position.start_time}}</p>
<p>End time: {{invite.position.end_time}}</p>
<br>
<a href="{{ protocol }}://{{ domain }}{{ approve_link }}">
    <button type="button" style="color: green;">CONFIRM OFFER</button>
</a>
<br>
<a href="{{ protocol }}://{{ domain }}{{ decline_link }}">
    <button type="button" style="color: red;">DECLINE OFFER</button>
</a>
<br>

{% endblock html_body %}
